<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lists</title>
</head>
<body>

<div style="background-color:blue;">
    <h1 style="text-align:center; padding:40px; margin:20px; color:white">Student informations</h1>
</div>
  <table border = 1>
         <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Starting Date</th>
            <th>Extra information</th>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["gender"]}}</td>
               <td> {{ row["age"]}}</td>
               <td>{{row['email']}}</td>
                <td>{{row["subject"]}}</td>
               <td> {{ row["sdate"]}}</td>
               <td>{{row['emessage']}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
</body>
</html>