<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gift Training Institute</title>
  <meta content="Gift Computer Technology Training Institute" name="description">
  <meta content="graphics, programming, website, databse" name="keywords">

  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <section id="hero">
    <div class="nav">
    <h1 class="head">GIFT INSTITUTE</h1>
<ul style="display: inline; float: right;" class="sidenav">
    <li><a href="#contact">Contacts</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#hero">Home</a></li>
  </ul>


      <div class="row">
    <div class="column" style="text-align: center;">
      <h1  class="her">Better Solutions For Training Problems </h1>
      <h2 class="her">We are team of talented designers, programmers and teachers making easy your favourite Course.</h2>
  </div>
    <div class="column">
      <img src="/static/img/hero-img.png" alt="Pineapple" style="width: 106%;">
     </div>
  </div>

</div>
</section>
<section id="about">
<h2 class="titles">About Us</h2>

  <div  class="About">
    <p> Gift Training Institute is a digital skills training institute that supports Ethiopians to develop their digital skills through resources,
       tools, and technology. Gift Training Institute provides a distinctive perspective that enables students to gain an international understanding of the digital
        landscape as well as the tools and skills to adopt it into the Ethiopian context.</p>


    <p>The main purpose of this project is to give trainings because now i give many trainings like graphics design,
    database, website design and computer maintenance courses, </p>
    <p> My linkedin Account link- https://www.linkedin.com/in/bekalu-sisay-2b4946229</p>
    <p>My twitter account link- https://www.twitter.com/@BekaluNibret20</p>
    <p>My Github account link- https://www.github.com/Bekalu22</p>
    <p> This project github link-  https://github.com/Bekalu22/Gift_Training_Institute </p>

    <h2 class="titles">Mission</h2>
      <p>Our mission is simple: to equip our students with the skills and knowledge they need to thrive in the digital age and to become leaders
        in their respective fields. We strive to provide an inclusive learning environment that fosters collaboration and creativity,
         as well as an understanding of the local and global digital landscape.</p>

        <h2 class="titles">Vission</h2>
    <p>To empower Ethiopians to thrive in the digital age by providing world-class digital skills training and education, enabling them to become
       competitive in both the local and global economy.</p>
    <p>
      All our cources give practically based on real job opportunities.</p>
      <p>A professional course provides students with practical skills. Students become job-ready after the course.
    </p>
</div>


<section id="skills">
<h1 class="her"><img src="/static/img/skills.png" alt="Pineapple" style="width:50%;height:auto;margin-left:15px; float: left;">
    <h3 class="ski">Skill performance after taking our courses</h3>
    <p  class="ski">If you will choose our organization and take courses we will have fully skilled performance </p>

    <div class="perf">
      <br><br> <br>
        <span class="skill">Graphics Design ...........................................<i>99%</i></span> <br>
        <span class="skill">Programming Language............................... <i>95%</i></span> <br>
       <span class="skill">Website Design............................................ <i>97%</i></span> <br>
        <span class="skill">Database...................................................... <i>98%</i></span>
       </div>  </h1>
</section>
<br>

<br>
<section id="services">
<h2 class="titles">Services</h2>
       <p class="ser">We give graphics design, Programming language, Website design, Database, Motion Graphics,
        peachtree Accounting, computer Maintenance and Engineering course short term trainings.</p>

        <div class="allrespo" style="display: block;">
          <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="gr.jpg">
            <img src="/static/img/gr.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Graphics Design Courses (Adobe Photoshop, Adobe Illustrator, Adobe InDesign)</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="web2.jpg">
            <img src="/static/img/web2.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Website Design
            Website Design Cources (HTML, CSS, JavaScript)</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="programm.png">
            <img src="/static/img/programm.png" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Programming Cources (C++, Java, Python, PHP)</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="Database-programming-2.png">
            <img src="/static/img/Database-programming-2.png" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Database Cources (SQL Server, MySql, Sqlite)</div>
        </div>
      </div>
  </div>
</section>
<br>  <br>

<div id="fulls">
<h3 style="text-align:center"> Do you want to register? <a href = "/enternew">To register</a> </h3>
  <h3 style="text-align:center">To view our student lists <a href = "/list"> view student lists</a></h3>

</div>

  <section id="contact">
  <h2 class="titles">Contacts</h2>
  <div id="footer">


   <div>
    <h4>Useful Links</h4>
    <ul>
      <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contacts</a></li>
    </ul>
  </div>

  <div >
    <h4>Our Services</h4>
    <ul>
      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#">Digital Marketing</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
    </ul>
  </div>
</div>
<h3 style="text-align: center;"> Tel: +251910317675</h3>
<h3 style="text-align: center;"> Location: Megenagna, Metebaber Bulding 4<sup>th</sup>floor  office number 419, Addis Ababa, Ethiopia </h3>


  </div>
  </section>

</section></body>
</html>


