
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
<link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files  -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!--   <link href="assets/css/style.css" rel="stylesheet">
   <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
         -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" >  -->

</head>
<body>


<form style="margin-left:50" action = "{{ url_for('addrec') }}" method = "POST">
        <div class="container mt-3">
  <div style="background-color:blue;">
    <h1 style="text-align:center; padding:40px; margin:20px; color:white">Student informations</h1>
</div>
    <div class="form-check mb-3">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Gender</label> <br>
                  &nbsp; &nbsp; &nbsp; <input type="radio" id="male" name="gender" value="Male">
                  <label for="male">Male</label><br><br>
                  &nbsp; &nbsp; &nbsp;  <input type="radio" id="female" name="gender" value="Female">
                  <label for="female">Female</label>
                </div><br>

                <div class="form-group col-md-6">
                  <label for="name">Your Age</label>
                  <input type="number" class="form-control" name="age" id="age" required>
                </div><br>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
<br>
              <div class="form-group">
                <label for="name">Subject/ course name</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
<br>
              <div class="form-group">
                <label for="name">when you want to start a class</label>
                <input type="date" class="sdate" name="sdate" id="sdate" required>
              </div>
<br>
              <div class="form-group">
                <label for="name">Any extra information or comment</label>
                <textarea class="form-control" name="message" rows="3" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

</body>
</html>